<nav class="navbar navbar-expand-sm navbar-dark px-4", style="background-color: #3778c2;>
  <div class="container-fluid d-flex">
  <%= link_to image_tag("coin.png", alt: "Logo", size: '40x40'), root_path, class: 'navbar-brand'%>
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        
       
       
        <% if current_user %>
           <li class='nav-link text-white'><%= current_user.name %></li>
          <li class="nav-item">
        </li>
        <% end %>
        <li class="d-flex ml-auto mb-3 mt-2">
          <% if user_signed_in? %>
            <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn text-end text-light sign', style: "background-color: #5fb523;", data: { turbo: false } %>
          <% end%>
        </li>
      </ul>
        
    </div>
  </div>
</nav>