<section class="mt-5 pb-5">
    <div class="text-center p-5">
        <h1>Welcome, Let's count your last coins &#128181</h1>
        <p>Lets spend all your money &#129297</p>
    </div>
    <div class="d-flex justify-content-center gap-5">
      <%= link_to "Sign In", new_user_session_path, class:"btn text-light", style: "background-color: #5fb523; width: 200px;" %>
      <%= link_to "Sign Up", new_user_registration_path , class:"btn text-light", style: "background-color: #5fb523; width: 200px;" %>
    </div>
</section>