<section class="pt-5">
  <div class="container ">
    <div class="text-center">
        <h1>Welcome, Let's count your last coins &#128181</h1>
        <p>Lets spend all your money &#129297</p>
    </div>
    <div class="mx-auto" style="width: 8rem; margin-top: 5em;">
      <%= link_to "Sign In", new_user_session_path, class:"btn btn-warning mb-3 py-2 rounded-0", style:"width: 100%" %>
      <%= link_to "Sign Up", new_user_registration_path ,class:"btn btn-outline-dark py-2 rounded-0", style:"width: 100%" %>
    </div>
  </div>
</section>