/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  font-family: 'ProximaBold', sans-serif;
  src: url('ProximaNovaBold.otf');
}

#group_icon {
  width: 250px;
}

.nav-item, .nav-link {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}

.back {
  top: 14px;
  left: 10px;
}

.photo {
  position: absolute;
  width: 300px;
  left: 12%;
}

.photo1 {
  position: absolute;
  width: 300px;
  top: 40%;
  right: 12%;
  z-index: 1;
}

.photo2 {
  position: absolute;
  width: 300px;
  top: 40%;
  right: 12%;
  z-index: 1;
}

.photo3 {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 20%;
  left: 8%;
  z-index: 1;
}

.position-a {
  position: absolute;
  right: 3%;
  bottom: 30%;
}

.ml-5 {
  margin-left: 7%;
  margin-top: 2%;
}

@media screen and (max-width: 800px) {
  .photo2 {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 70%;
    left: 2%;
    z-index: 1;
}
  .photo3 {
    display: none;
}
  .photo1 {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 60%;
    right: 8%;
    z-index: 1;
}

.photo {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 8%;
  top: 60%;
}

.w-25 {
  width: 100%!important;
}
.button_to {
  width: 200px;
}

.ml-5 {
  font-size: 20px;
}

.position-a {
  width: 60px;
}
}